.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-content {
  display: flex;
  flex-grow: 1;
  margin: 0;
  overflow: auto;
}

.App-messages {
  flex-grow: 1;
  margin: 0;
  overflow: auto;
}

.App-users {
  width: 20%;
  border-left: 1px solid #f1f1f1;
  overflow: auto;
}

.App-username {
  font-weight: bold;
  margin-right: 5px;
}

.App-footer {
  display: flex;
  flex-shrink: 0;
  background: #f1f1f1;
  height: 30px;
}

.App-footer input {
  flex-grow: 1;
}
